body {
    background-color: black;
    font-family: Verdana;
    width: 100%;
    text-align: center;
    margin: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: gray;
    font-size: 21px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

#photocamp {
    overflow-clip-margin: 0px;
    margin-bottom: 30px;
    width: 50%;
    overflow: hidden;
}


#end {
    width: 100%;
    text-align: right;
    margin-right: 20px;
}



